<h1>Tạo sản phẩm mới</h1>
<form [formGroup]="productForm" (ngSubmit)="saveProduct()">
  <table>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="title"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button style="margin-left: 160px;background-color: green" class="col-lg-3">Tạo</button>
        <button routerLink="/product/list" style="margin-left: 20px;background-color: #182aec;color: white" class="col-lg-3">Quay lại</button>
      </td>
    </tr>
  </table>
</form>
